/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 95%;
  background-color: #2C3E50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  color: #ECF0F1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1.5rem; 
  flex-wrap: wrap; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #79817b; 
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #4CAF50;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
